body {
  font-family: Georgia;
  color: darkblue;
  background-color: #f0f0f0;
}

.about-me {
  font-weight: bold;
  background-color: lightgrey;
  border: 4pt double darkblue;
  padding: 10pt;
  border-radius: 6pt;
}

#name {
  color: blue;
}

#hover-box {
  width: 1in;
  padding: 10pt;
  font-size: 50%;
  font-style: italic;
  text-align: center;
  border: 1pt solid darkblue;
  border-radius: 6pt;
  background-color: lightgrey;
}
